#ActivityProfile {
  border: lightgray solid 1px;
  width: 100%;
  border-radius: 15px;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 4%;
}
#ActivityCol {
  margin-top: 1rem;
  margin-left: 1rem;
}

#SideBarToggle {
  background: transparent;
  color: black;
  width: 100%;
}
#SideBarToggle:hover {
  opacity: 0.7;
  background-color: rgb(240.5, 240.5, 240.5);
}
#ActivityToggle:hover {
  opacity: 0.7;
  background-color: rgb(240.5, 240.5, 240.5);
}
#ActivityToggle {
  display: block;
  background: transparent;
  color: black;
  border: none;
  text-align: center;
  width: 100%;
  border-top: 1px solid lightgray;
  margin: 0 !important;
  padding: 0 !important;
}
.p-activity {
  font-size: 0.8em;
}

#profileProfile {
  border: lightgray solid 1px;
  width: 100%;
  border-radius: 15px;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 4%;
}
#profileCol {
  margin-top: 1rem;
  margin-left: 1rem;
}
#profileToggle {
  background: transparent;
  color: black;
  border: none;
}
.p-Profile {
  font-size: 0.8em;
}

.Profile-Btn1,
.Profile-Btn2,
.Profile-Btn3 {
  border: 1px solid grey;
  padding: 0.2em 1em;
  border-radius: 20px;
  margin-right: 0.5em;
  margin-bottom: 1.5em;
}

.Profile-Btn1:hover,
.Profile-Btn2:hover,
.Profile-Btn3:hover {
  cursor: pointer;
  opacity: 0.7;
}

.Profile-Btn1 {
  color: white !important;
  border: #0a66c2;
  background-color: #0a66c2;
}
.Profile-Btn2 {
  border: solid 1px #0a66c2 !important;
  color: #0a66c2 !important;
}
.Profile-Btn3 {
  border: solid 1px rgba(0, 0, 0, 06) !important;
  color: rgba(0, 0, 0, 0.6);
}

/* Inizio NAVBAR */

.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  z-index: 999;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left > img {
  height: 40px;
  /* width: 40px; */
  margin-right: 20px;
}

.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: grey;
  background-color: #eef3f8;
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}

.header_right {
  display: flex;
}

.HeaderOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  color: grey;
}

.HeaderOption > p {
  margin: 0;
}

.HeaderOption:hover {
  color: black;
  cursor: pointer;
}
/* Fine NAVBAR */
/*DROPDWON*/
#dropdown-basic-button {
  width: 100% !important;
  color: black;
  background-color: white !important;
  border: 1px solid black;
}
.dropdown-basic-button {
  width: 464px !important;
}
#modal-btn {
  border-radius: 100%;
  border: none;
  color: black;
  background-color: transparent !important;
}
#modal-btn:hover {
  background-color: rgb(226, 226, 226) !important;
}

.yearsDropdown {
  height: 300px;
  overflow-y: auto;
  display: inline-block;
  background-color: transparent !important;
  margin: 0 40px;
}
